div.mat-dialog-content{
    text-align: center;
}

.mat-form-field{
    width: 70%;
}
.example-radio-group {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
}

.example-radio-button {
    margin: 5px;
  }
